.userForm{
    margin-top: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 50%;
    height: 250px;
    border-style: solid;
    border-width: 1px;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 20px;
    margin: 2rem auto;
}
.userForm form{
    width: 80%;
}
.input{
    margin-top: 30px;
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: center;
}
.input-age{
    margin-top: 30px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.input-age.invalid label{
    color: salmon;
}
.input-age label{
    font-weight: 700;
    margin-bottom: 5px;
    background-color: white;
}
.input-age.invalid input{
    border-color: red;
    color: salmon;
}
.input-age input{
    height: 20px;
    border-radius: 5px;
    border-color: rgba(0, 0, 0, 0.89);
    background-color: white;
}
.input-username{
    margin-top: 30px;
    background-color: white;
    display: flex;
    flex-direction: column;

    justify-content: center;
}
.input-username label{
    font-weight: 700;
    margin-bottom: 5px;
    background-color: white;
}
.input-username input{
    height: 20px;
    border-radius: 5px;
    border-color: rgba(0, 0, 0, 0.89);
    background-color: white;
}
@media (max-width: 500px) {
    .userForm{
        width: 80%;
    }    
}